@import url("assets/css/fontawesome.min.css");
@import url("assets/css/regular.min.css");
@import url("assets/css/brands.min.css");
@import url("assets/css/solid.min.css");
/*
https://colorffy.com/color-scheme-generator
*/

/*
Dark:
// CSS PRIMARY COLORS
--color-primary-500: #182227;
--color-primary-600: #141b1f;
--color-primary-700: #0f1517;
--color-primary-800: #080c0e;
--color-primary-900: #000000;

Shades of #182227 The color shades scheme is a group of colors that are variations of a single hue, with different levels of lightness and darkness. This scheme creates a cohesive and subtle look.
#182227 #161e22 #141a1e #111719 #0e1315 #090d0f #050708 #000000

Tints of #182227 The color tints scheme is a group of colors that are variations of a single hue, with added white to create a lighter and more delicate look.
#182227 #343d41 #525a5e #72787b #93989b #b6b9bb #dadcdd #ffffff

Tones of #182227 The color tones scheme is a group of colors that are variations of a single hue, with added gray to create a muted and softer look.
#182227 #252e33 #333b3f #42484b #515558 #606365 #707172 #808080

Header Color:
#516e34bb

*/
/*
Light:
// CSS PRIMARY COLORS
--color-primary-500: #f0f8ff;
--color-primary-600: #aeb4b9;
--color-primary-700: #707477;
--color-primary-800: #383a3b;
--color-primary-900: #000000;

Shades of #f0f8ff The color shades scheme is a group of colors that are variations of a single hue, with different levels of lightness and darkness. This scheme creates a cohesive and subtle look.
#f0f8ff #cad0d6 #a5aaaf #828689 #606365 #404243 #232324 #000000

Tints of #f0f8ff The color tints scheme is a group of colors that are variations of a single hue, with added white to create a lighter and more delicate look.
#f0f8ff #f2f9ff #f4faff #f6fbff #f9fcff #fbfdff #fdfeff #ffffff

Tones of #f0f8ff The color tones scheme is a group of colors that are variations of a single hue, with added gray to create a muted and softer look.
#f0f8ff #dfe6ec #cfd4d9 #bec3c7 #aeb2b4 #9fa1a3 #8f9091 #808080

Header Color:
#FFABC2

*/

/* Common variables */
:root {
  --page-font: 'Source Sans Pro', sans-serif;
  --reading-font: 'Times New Roman', Times, serif;
  --transition: all .5s;
  --transition_: all .5s;
}

/* Color Theme Variables */
.light,
body[color-theme="light"] {
  --color-primary-1: #f0f8ff;
  --color-primary-2: #cad0d6;
  --color-primary-3: #a5aaaf;
  --color-primary-4: #828689;
  --color-primary-5: #606365;
  --color-primary-6: #404243;
  --color-primary-7: #232324;
  --color-primary-8: #000000;
  --clr-text: #182227;
  --clr-element: #182227;
  --clr-element-hover: #568061;
  --visible-light: visible;
  --visible-dark: none;
  --me-photo: url("images/Magnus.light.jpg");
  --bg_: #f0f8ff;
  --clr-text_: #182227;
}

.dark,
body[color-theme="dark"] {
  --color-primary-1: #182227;
  --color-primary-2: #343d41;
  --color-primary-3: #525a5e;
  --color-primary-4: #72787b;
  --color-primary-5: #93989b;
  --color-primary-6: #b6b9bb;
  --color-primary-7: #dadcdd;
  --color-primary-8: #ffffff;
  --clr-text: #f0f8ff;
  --clr-element: #f0f8ff;
  --clr-element-hover: #ffabe4;
  --visible-light: none;
  --visible-dark: visible;
  --me-photo: url("images/Magnus.dark.jpg");
  --bg_: #182227;
  --clr-text_: #FCE8Ec;
}

.visiblelight {
  display: var(--visible-light);
}

.visibledark {
  display: var(--visible-dark);
}

/* Add trantition to every element. */
* {
  transition: var(--transition);
}

body {
  margin: 0;
  /* background: var(--color-primary-1);
  transition: var(--transition); */
  background: var(--bg_);
  transition: var(--transition_);
  font-family: var(--page-font);
}

.alonetime {
  padding: 10px;
}

.pointer {
  cursor: pointer;
}

.bottom {
  bottom: 0px;
  position: fixed;
  padding: 15px 0px;
}

.center {
  justify-content: center;
}

header {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  padding: 15px 0px;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary-2);
  z-index: 2;
}

header nav input[type="checkbox"],
header .hamburger-lines {
  display: none;
}

header .me-container {
  text-align: center;
}

header .me-container .me-photo {
  border-radius: 50%;
  content: var(--me-photo);
}

header .logo-container {
  margin-left: 15px;
  text-align: center;
}

header .logo-container .logo-main {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 28px;
  color: var(--clr-text);
  text-decoration: none;
}

header .logo-container .logo-sub {
  margin-top: 0px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: var(--clr-text);
}

header .menu {
  font-weight: 500;
  white-space: nowrap;
}

header .menu li {
  display: block;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

header a {
  color: var(--clr-element);
  text-decoration: none;
}

header a:hover {
  color: var(--clr-element-hover);
}

header .submenudiv {
  display: none;
  position: absolute;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
  background: var(--color-primary-2);
  border-color: var(--color-primary-1);
  border-style: solid;
  border-width: 5px;
}

header .submenu:hover .submenudiv {
  display: block;
}

header .submenudiv ul {
  display: flex;
  flex-direction: column;
}

header .theme-symbol {
  display: flex;
  padding-top: 20px;
  transition: var(--transition);
}

/* header .theme-switcher {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 25px;
  height: 25px;
  color: var(--clr-element);
} */

header .theme_label {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 30px 0;
}

header .theme_switcher {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
}

header .theme-switcher-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}

body.light .theme-switcher .theme-switcher-btn {
  top: -24px;
}

header .theme-icon {
  stroke: var(--clr-element);
  transition: color 0.2s ease-in-out;
}

header .theme-icon:hover {
  stroke: var(--clr-element-hover);
  transition: color 0.2s ease-in-out;
}

header .theme-switcher-lbl {
  color: var(--clr-element);
  margin: 0 auto;
  cursor: pointer;
  transition: var(--transition);
}

header .theme-switcher-lbl:hover {
  color: var(--clr-element-hover);
  transition: color 0.2s ease-in-out;
}

.theme_switcher .theme-switcher-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: var(--transition_);
  top: 0;
}

body.light .theme_switcher .theme-switcher-btn {
  top: -24px;
}

header .social {
  bottom: 0px;
  position: fixed;
  padding: 15px 0px;
}

header .social ul {
  display: flex;
  flex-direction: row;
}

header .social .lbl {
  font-size: 30px;
}

.mainbody {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 340px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  font-family: var(--reading-font);
  color: var(--clr-text);
}

footer {
  color: var(--clr-element);
  text-align: center;
  background: var(--color-primary-2);
  justify-content: center;
  padding-bottom: 5px;
}

footer ul {
  display: flex;
  white-space: nowrap;
}

footer ul li {
  color: var(--clr-element);
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}

.pi {
  width: 100%;
  text-align: right;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 768px) {
  header {
    width: 100%;
    height: 100%;
    position: fixed;
    transform: none;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    box-shadow: none;
  }

  header .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 210;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header .hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: var(--clr-text);
    transition: color 0.3s ease-in-out;
  }

  header .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  header .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  header .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  header nav input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 13px;
    left: 22px;
    z-index: 220;
    opacity: 0;
  }

  header nav input[type="checkbox"]:checked~.menu {
    transform: translateX(0);
  }

  header nav input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  header nav input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  header nav input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  header .logo-container {
    align-items: center;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
  }

  header .logo-container .logo-main {
    margin-bottom: 0px;
    color: var(--clr-text);
    font-weight: 500;
    text-decoration: none;
    font-size: 34px;
  }

  header .logo-container .logo-sub {
    margin-top: 0px;
    color: var(--clr-text);
    font-weight: 400;
    text-decoration: none;
    font-size: 28px;
  }

  header .menu {
    padding-top: 20px;
    background: var(--color-primary-2);
    transform: translate(-150%);
    transition: var(--transition);
    margin-left: -40px;
    padding-left: 50px;
    padding-right: 50px;
  }

  header .menu ul {
    display: flex;
    flex-direction: column;
  }

  header .menu li {
    margin-bottom: 20px;
    font-size: 50px;
  }

  header .submenudiv {
    transform: none;
    position: absolute;
    margin-left: 50px;
    padding-left: 0px;
    white-space: nowrap;
    z-index: 201;
  }

  header .submenu:hover .submenudiv {
    display: block;
  }

  header .submenudiv ul {
    display: flex;
    flex-direction: column;
  }

  header .submenudiv ul li {
    padding: 0;
  }

  header .theme-switcher {
    width: 50px;
    height: 50px;
  }
  
  header .theme-switcher-lbl {
    transition: var(--transition);
  }

  header .theme-switcher-btn {
    zoom: 200%;
  }

  .mainbody {
    width: 95%;
    max-width: 768px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 0px;
  }

  header .social {
    position: relative;
  }

  header .social ul {
    display: flex;
    flex-direction: row;
  }

  header .social .lbl {
    font-size: 50px;
  }
}